<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <style>
         #spinner{
         display: none;
         }
      </style>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   </head>
   <body>
      <div class="container-fluid" style="padding: 0px; color: #708090;">
         <div class="row justify-content-center" style="padding: 70px; margin: 0px; background-color: #FF6347; color: #F5FFFA;">
            <h1>1. このウェブサイトについて</h1>
         </div>
         <div class="row justify-content-center" style="padding: 70px; margin: 0px; background-color: #FF6347;color: #F5FFFA;">
            <h5>対抗戦の最大のデメリット、<u><b>「相手を探すのに時間がかかる」を解消するため</b></u>にこのウェブサイトを使ってください！
            </h5>
         </div>
         <div class="row justify-content-center" style="padding: 70px; margin: 0px; background-color: #FF6347;color: #F5FFFA;">
            <h5>これまで対抗戦をしたいのになかなかちょうどいい相手が見つからない、なんてことありませんでしたか？<u><b>リーグマッチをするとすぐに敵とマッチングする</b></u>それなのに対抗戦の相手となるとなかなか丁度いい相手が見つからない
            </h5>
         </div>
         <div class="row justify-content-center" style="padding: 70px; margin: 0px; background-color: #FF6347;color: #F5FFFA;">
            <h5>特に平均ウデマエがS＋出会ったりX前半の場合、対抗戦相手を見つけるのは至難のわざです
            </h5>
         </div>
         <div class="row justify-content-center" style="padding: 70px; margin: 0px; background-color: #FF6347;color: #F5FFFA;">
            <h5>対抗戦をするときも、リーグマッチのように、自動的に似たウデマエのチームとマッチングできれば楽なのになー、と思ったのがきっかけでこのウェブサイトを作りました
            </h5>
         </div>
         <div class="row justify-content-center" style="padding: 70px; margin: 0px; background-color: #FF6347;color: #F5FFFA;">
            <h5>イメージとしては、自分のチームのプレーヤーの情報を入力し募集すると、ガチマッチやリーグマッチのように、<u><b>似た条件で現在募集している他のチームと自動的にマッチング</b></u>します。
            </h5>
         </div>
   
         <div class="row justify-content-center" style="padding: 70px; margin: 0px; background-color: #FF6347;color: #F5FFFA;">
            <h5>Twitterで「対抗戦相手募集」と検索して、<u><b>一つ一つ投稿を見ていくよりも断然早い</b></u>です。
            </h5>
         </div>
   
         <div class="row justify-content-center" style="padding: 70px; margin: 0px; background-color: #FF6347;color: #F5FFFA;">
            <h5>ただ、このウェブサイトが機能するにはたくさんのユーザーさんに使ってもらう必要があります。なので、<u><b>是非皆さんのスプラ友達にこのウェブサイトを紹介してください！</b></u>
            </h5>
         </div>
         <div class="row justify-content-center" style="padding: 70px; margin: 0px; background-color: #FF6347;color: #F5FFFA;">
            <h5>対抗戦をする人が少ない理由の一つとして、まだ対抗戦という言葉自体知らないスプラプレーヤーがたくさんいるということが挙げられます。
            </h5>
         </div>
         <div class="row justify-content-center" style="padding: 70px; margin: 0px; background-color: #FF6347;color: #F5FFFA;">
            <h5>僕なりに「対抗戦とは何か」をまとめてみたのでぜひ読んで、対抗戦について学んで行ってください
            </h5>
         </div>
         <div class="row justify-content-center" style="padding: 70px; margin: 0px; background-color: #FF6347;color: #F5FFFA;">
            <h5><a href="howtouse">また、このウェブサイトの使い方ページもご参照ください</a>
            </h5>
         </div>
         <div class="row justify-content-center">
            <h1>2. 対抗戦とは何か</h1>
         </div>
         <div class="row justify-content-center">
            <h3>・ リグマとの違い</h3>
         </div>
         <div class="row justify-content-center" >
            <table class="table table-bordered" style="margin: 70px; padding: 10px;">
               <thead class="thead-dark">
                  <tr>
                     <th scope="col" style="text-align: center;">対抗戦</th>
                     <th scope="col" style="text-align: center;">リグマ</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>毎試合同じ相手</td>
                     <td>相手が各試合変わる</td>
                  </tr>
                  <tr>
                     <td>相手のウデマエをある程度自分で指定できる</td>
                     <td>勝利数によって相手のウデマエが自動的に決まる</td>
                  </tr>
                  <tr>
                     <td>試合数に制限がある</td>
                     <td>試合数に制限がない</td>
                  </tr>
                  <tr>
                     <td>ステージは全ステージの中からランダムで選ぶことが多い</td>
                     <td>2ステージの中からランダムで選ばれる</td>
                  </tr>
                  <tr>
                     <td>ステージに合わせて編成を変えられる</td>
                     <td>武器選択段階ではどのステージが来るか分からない</td>
                  </tr>
                  <tr>
                     <td>ルールを自分たちで選べる</td>
                     <td>ルールは自分たちで選べない</td>
                  </tr>
               </tbody>
            </table>
         </div>
      <br>
      <br>
      <br>
         <div class="row justify-content-center" style="padding: 100px; margin: 0px; background-color: #3CB371; color: #FAF0E6;">
            <h3>・ 対抗戦の手順</h3>
         </div>
         <div class="row justify-content-center" style="padding: 30px; margin: 0; background-color: #3CB371; color: #FAF0E6">
            <h5>このウェブサイト、もしくはTwitterなどを使い、自分のチームと似た条件の相手を見つける</h5>
         </div>

         <div class="row justify-content-center" style="padding: 30px; margin: 0; background-color: #3CB371; color: #FAF0E6">
            <h3>↓</h3>
         </div>

         <div class="row justify-content-center" style="padding: 30px; margin: 0; background-color: #3CB371; color: #FAF0E6">
            <h5>フレンド交換をし、どちらかのチームの代表者がプライベートマッチの部屋を作る</h5>
         </div>
 
         <div class="row justify-content-center" style="padding: 30px; margin: 0; background-color: #3CB371; color: #FAF0E6">
            <h3>↓</h3>
         </div>
   
         <div class="row justify-content-center" style="padding: 60px; margin: 0; background-color: #3CB371; color: #FAF0E6">
            <h5>その部屋に全てのプレーヤーが入った時点で、親はステージ、ルールを選択、その後チーム分けを行い、試合を開始する</h5>
         </div>
         <br>
         <br>
         <br>
      <div class="row justify-content-center">
         <h3 style="margin: 70px;">・対抗戦の長所と短所</h3>
      </div>
      <div class="row justify-content-center">
         <table class="table table-bordered" style="margin: 70px;">
            <thead>
               <tr>
                  <th scope="col" style="text-align: center; background-color: red;">長所</th>
                  <th scope="col" style="text-align: center;background-color: green;">短所</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>相手が変わらないので、相手の編成に合わせて対策を立てるスキルが身に付く</td>
                  <td>リグマと違い、緊張感がある</td>
               </tr>
               <tr>
                  <td>試合数が限られているため、一戦一戦に集中することができる</td>
                  <td>相手のウデマエが低すぎたり、高すぎたりするとつまらない</td>
               </tr>
               <tr>
                  <td>ステージに合わせて編成を変えられる</td>
                  <td style="font-weight: bold; text-decoration: underline;">相手を探すのに時間がかかる</td>
               </tr>
               <tr>
                  <td>相手のウデマエが変わらないので、きっこうする試合が多くなる</td>
                  <td></td>
               </tr>
            </tbody>
         </table>
      </div>

    </div>
    <button type="button" class="btn btn-secondary btn-lg btn-block" style="position: sticky; bottom: 0; background-color: #F4A460; padding: 10px;" onclick="document.location = 'home'">戻る</button>
   </body>
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
